/* import */
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
/* variables */

:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--medium-gray);
}

body {
  font-family: "Epilogue", serif;
  background-color: var(--almost-white);
}
/* nav */

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 2rem;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
/* logo */
.logo {
  margin-top: 0.3rem;
}

/* left--nav-list */

.left--nav-list,
li {
  margin-left: 1rem;
}

.left--nav-list li {
  margin-left: 3rem;
}

/* right--nav-list */

.right--nav-list {
  margin-left: 74rem;
}

/* features-icon */

.features-icon,
.company-icon {
  margin-left: 0.5rem;
}

/* button */

.register {
  border: solid 2px var(--medium-gray);
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.register a:hover {
  color: black;
  border: black;
}

.login a:hover {
  color: black;
}

/* main-content  */

.main-content {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin: 5rem;
}

.left-content {
}

.right-content {
  img {
    height: 50rem;
  }
}

/* Attributes  */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
