:root{
    --almost-White: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --text-color: #333;
    --font-family: "Epilogue", sans-serif;
}

@media(max-width:626px){
    /* mobile-design first */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
   
}

.content{

    text-align: center;

    h1{
        margin-top: 1rem;
        font-size: 3.5rem;
        color: var(--almost-black) ;
    }

    p{
        margin: 1.5rem ;
        font-size: 1.8rem;
        color: var(--medium-gray);
      
    }

    /* content-btn */

    .btn-content{
        padding: 1.4rem 2.5rem;
        border-radius: 15px;
        background-color: var(--almost-black);
        color: var(--almost-White);
       
    }
}

/* footer */

footer{
   
  .logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
  

    img{
       width: 75px;
      
    }
  }

  
  }
}

/* mobile-active design */
/* hide */


   .hidden {
    display: none;}

    /* breaking points  */

 